name: CI

on:
  pull_request:
  push:
    paths:
      - 'bin/**'
      - 'downstream-tests/**'
      - 'library/**'
    tags-ignore:
      - v*.*.*

jobs:

  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 18.0.1
            scala: 2
            node: 24.10.0
          - java: 11.0.15
            scala: 3
            node: 18.20.8
    name: Scala v${{ matrix.scala }} / Java v${{ matrix.java }} / Node v${{ matrix.node }}
    steps:

      - name: Git checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Scala
        uses: japgolly/setup-everything-scala@v3.1
        with:
          java-version: adoptium@1.${{ matrix.java }}
          jsdom-version: 26.1.0
          node-version: ${{ matrix.node }}

      - name: Build and test
        shell: bash
        run: bin/ci ${{ matrix.scala }}
